#note-tools {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 66px;
    margin-left: 40px;
    text-decoration: underline;
    font-size: 18px;
}

#note-tools p {
    cursor: pointer;
    padding-right: 10px;
    height: 33px;
    margin-block-start: 0;
}

#note-tools div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 80px;
    height: 33px;
    padding-right: 20px;
    margin-right: 8px;
    border-right: var(--glass) 2px solid;

}